.upper-body {
	stroke-width: 2.5;
}

.face {
	stroke-width: 1.5;
}

.eyebrow {
	stroke-width: 3;
}

.stroke-black {
	stroke: #000;
}

.fill-black {
	fill: #000;
}

.fill-orange {
	fill: #e0a243;
}

.fill-white {
	fill: #fff;
}

.linejoin-round {
	stroke-linejoin: round;
}

.linecap-round {
	stroke-linecap: round;
}


.nose {
	stroke-width: 5;
}

.ears {
	stroke-width: 2.5;
}

.muzzle {
	stroke-width: 2.5;
}