.upper-body {
	stroke-width: 2.5;
}

.face {
	stroke-width: 1.5;
}

.eyebrow {
	stroke-width: 3;
	stroke-linecap: round;
}

.stroke-black {
	stroke: #000;
}

.fill-black {
  fill: #000;
}

.fill-orange {
  fill: #e0a243;
}

.fill-white {
  fill: #fff;
}

.nose {
	stroke-width: 5;
	stroke-linejoin: round;
}

.ears {
	stroke-width: 2.5;
	stroke-linecap: round;
}